<div class="w3-top">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s3">
        <a routerLink="/" class="w3-button w3-block w3-black">HOME</a>
      </div>
      <div class="w3-col s3">
        <a routerLink="/about" class="w3-button w3-block w3-black">ABOUT</a>
      </div>
      <div class="w3-col s3">
        <a routerLink="/blog" class="w3-button w3-block w3-black">BLOG</a>
      </div>
      <div class="w3-col s3">
        <a routerLink="/social" class="w3-button w3-block w3-black">SOCIAL</a>
      </div>
    </div>
  </div>